doctype html
html(lang="en")
    head
      script(src = '.javascripts/background.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js')
      script(src='index.js')
      
      title AFN - AFD
      link(href='https://fonts.googleapis.com/css?family=Rubik:300', rel='stylesheet')
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
      link(rel="stylesheet", href="./stylesheets/style.css")
    body
      block content